<app-new-movies></app-new-movies>
<div class="cute-tabs">
    <div class="tabs-scroll">
        <div class="left-tabs">
            <div class="tab-item"
                [class.active]="activeTab === 'films'"
                (click)="setActiveTab('films')">Фильмы</div>
            <div class="tab-item"
                [class.active]="activeTab === 'series'"
                (click)="setActiveTab('series')">Сериалы</div>
            <div class="tab-item"
                [class.active]="activeTab === 'kdrama'"
                (click)="setActiveTab('kdrama')">Дорамы</div>
            <div class="tab-item"
                [class.active]="activeTab === 'anime'"
                (click)="setActiveTab('anime')">Аниме</div>
        </div>
        <div class="right-tabs">
            <div class="tab-item"
                [class.active]="activeTab === 'news'"
                (click)="setActiveTab('news')">Новости</div>
        </div>
    </div>
</div>

<section class="cute-vertical-movies"
    *ngIf="activeTab === 'films'">
    <div class="vertical-grid">
        <ng-container *ngIf="loadingFilms">
            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"
                class="movie-card-vertical empty">
                <div class="poster-wrapper">
                    <div class="empty-poster"></div>
                </div>
                <div class="movie-info">
                    <div class="empty-title"></div>
                    <div class="empty-year"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!loadingFilms">
            <div *ngFor="let film of films"
                class="movie-card-vertical">
                <div class="poster-wrapper"
                    (click)="onClickPageFilm(film)">
                    <img [src]="getPosterUrlFilm(film.poster)"
                        class="poster-image">
                    <div class="movie-rating">{{ film.rating }}</div>
                </div>
                <div class="movie-info">
                    <h3 class="movie-title">{{ film.title }}</h3>
                    <p class="movie-year">{{ film.year }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<section class="cute-vertical-movies"
    *ngIf="activeTab === 'series'">
    <div class="vertical-grid">
        <ng-container *ngIf="loadingSeries">
            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"
                class="movie-card-vertical empty">
                <div class="poster-wrapper">
                    <div class="empty-poster"></div>
                </div>
                <div class="movie-info">
                    <div class="empty-title"></div>
                    <div class="empty-year"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!loadingSeries">
            <div *ngFor="let series of seriesList"
                class="movie-card-vertical">
                <div class="poster-wrapper"
                    (click)="onClickPageSeries(series)">
                    <img [src]="getPosterUrlFilm(series.poster)"
                        class="poster-image">
                    <div class="movie-rating">{{ series.rating }}</div>
                </div>
                <div class="movie-info">
                    <h3 class="movie-title">{{ series.title }}</h3>
                    <p class="movie-year">{{ series.year }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<section class="cute-vertical-movies"
    *ngIf="activeTab === 'kdrama'">
    <div class="vertical-grid">
        <ng-container *ngIf="loadingKdrama">
            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"
                class="movie-card-vertical empty">
                <div class="poster-wrapper">
                    <div class="empty-poster"></div>
                </div>
                <div class="movie-info">
                    <div class="empty-title"></div>
                    <div class="empty-year"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!loadingKdrama">
            <div *ngFor="let k of kdrama"
                class="movie-card-vertical">
                <div class="poster-wrapper"
                    (click)="onClickPageKdrama(k)">
                    <img [src]="getPosterUrlFilm(k.poster)"
                        class="poster-image">
                    <div class="movie-rating">{{ k.rating }}</div>
                </div>
                <div class="movie-info">
                    <h3 class="movie-title">{{ k.title }}</h3>
                    <p class="movie-year">{{ k.year }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<section class="cute-vertical-movies"
    *ngIf="activeTab === 'anime'">
    <div class="vertical-grid">
        <ng-container *ngIf="loadingAnime">
            <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"
                class="movie-card-vertical empty">
                <div class="poster-wrapper">
                    <div class="empty-poster"></div>
                </div>
                <div class="movie-info">
                    <div class="empty-title"></div>
                    <div class="empty-year"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!loadingAnime">
            <div *ngFor="let animeItem of anime"
                class="movie-card-vertical">
                <div class="poster-wrapper"
                    (click)="onClickPageAnime(animeItem)">
                    <img [src]="getPosterUrlFilm(animeItem.poster)"
                        class="poster-image">
                    <div class="movie-rating">{{ animeItem.rating }}</div>
                </div>
                <div class="movie-info">
                    <h3 class="movie-title">{{ animeItem.title }}</h3>
                    <p class="movie-year">{{ animeItem.year }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<section class="cute-news"
    *ngIf="activeTab === 'news'">
    <div class="news-grid">
        <ng-container *ngIf="loadingNews">
            <div *ngFor="let i of [1,2,3,4,5,6]"
                class="news-card empty">
                <div class="news-poster-wrapper">
                    <div class="empty-poster"></div>
                </div>
                <div class="news-info">
                    <div class="empty-title"></div>
                    <div class="empty-date"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!loadingNews">
            <div *ngFor="let n of news"
                class="news-card">
                <div class="news-poster-wrapper"
                    (click)="onClickPageNews(n)">
                    <img [src]="getPosterUrlFilm(n.poster)"
                        class="news-poster-image">
                </div>
                <div class="news-info">
                    <h3 class="news-title">{{ n.title }}</h3>
                    <p class="news-date">{{ n.when }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>